* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
}

.button {
  width: 294px;
  height: 40px;
  border: 1px solid #FFFFFF;
  background: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  text-align: center;
  padding: 6px 0;
}

.header {
  position: absolute;
  padding-top: 30px;
  width: 100%;
}
.header_phone {
  display: block;
  margin: 4px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.miners {
  background: url("../img/background/cloud-storage-background-remixed-from-public-domain-by-nasa22 1.jpg") top center/contain no-repeat;
  min-height: 691px;
  padding-top: 210px;
  margin-bottom: 80px;
}
.miners_title {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 72px;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.miners_subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #FFFFFF;
  margin-bottom: 36px;
}
.miners_btn {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
}

.equipment {
  position: relative;
  height: 375px;
  padding-top: 71px;
  margin-bottom: 80px;
}
.equipment_title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  color: #000000;
  margin-bottom: 24px;
}
.equipment_title span {
  font-weight: 700;
}
.equipment_descr p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}
.equipment_img {
  position: absolute;
  top: 0;
  left: 52%;
  z-index: -2;
}
.equipment_rectangle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 366px;
  height: 320px;
  background-color: #D3D3D3;
  z-index: -1;
}

.advantage {
  margin-bottom: 80px;
}
.advantage .col-md-12 {
  padding: 0;
}
.advantage_title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}
.advantage_title span {
  font-weight: 700;
}
.advantage_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantage_item {
  position: relative;
  top: 0;
  width: 230px;
  height: 230px;
  background: url("../img/background/icon_background.svg") center center/contain no-repeat;
  padding: 31px 40px;
}
.advantage_item:nth-child(2n) {
  top: 115px;
}
.advantage_item:last-child {
  top: 0;
}
.advantage_item_icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 4px;
}
.advantage_item_descr {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.form-order {
  background-color: #0C0C0C;
  margin-bottom: 80px;
  height: 400px;
  padding: 72px 0;
}
.form-order_descr {
  margin-top: 46px;
}
.form-order_descr .text-italic {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 36px;
  color: #FFFFFF;
}
.form-order_descr p {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  color: #FFFFFF;
}
.form-order_descr p span {
  font-weight: 700;
}
.form-order_form {
  margin-top: 46px;
}
.form-order_form input {
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 0 10px 4px 10px;
}
.form-order_form input:first-child {
  margin-bottom: 24px;
}
.form-order_form_btn {
  display: block;
  width: 170px;
  height: 40px;
  margin: 36px auto 0 auto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
}
.form-order_logo {
  display: block;
  margin: 0 auto;
}

.seles {
  margin-bottom: 80px;
}
.seles_title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}
.seles_title span {
  font-weight: 700;
}
.seles_item {
  margin: 0 auto;
  padding: 42px 40px 40px 40px;
  background: #D3D3D3;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 570px;
}
.seles_item_img {
  display: block;
  margin: 0 auto;
  margin-bottom: 26px;
}
.seles_item_title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  margin-bottom: 15px;
}
.seles_item_descr p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}
.seles_item_descr p span {
  font-weight: 600;
}
.seles .col-6:nth-child(odd) {
  margin-top: 120px;
}

.question {
  min-height: 448px;
  background: url("../img/background/blockchain-technology-background-in-gradient-blue22 1.jpg") 50% 0/cover no-repeat;
  padding: 70px 0;
  margin-bottom: 80px;
  border: 1px solid #000;
}
.question_title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.question_title span {
  font-weight: 700;
}
.question_subtitle {
  margin: 0 auto;
  width: 736px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 36px;
}
.question_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.question_form input {
  border: none;
  border-bottom: 1px solid #D3D3D3;
  width: 470px;
  background: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
  padding: 0 10px 4px 10px;
  margin-bottom: 40px;
}
.question_form input:first-child {
  margin-right: 30px;
}
.question_form input:nth-child(3) {
  width: 970px;
  margin-bottom: 44px;
}
.question_form_btn {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
}

.contacts {
  margin-bottom: 80px;
}
.contacts_main {
  width: 210px;
}
.contacts_main_phone {
  margin-bottom: 22px;
}
.contacts_main a {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}
.contacts_main a i {
  margin-right: 14px;
}
.contacts_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts_social_item {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0C0C0C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-right: 30px;
}
.contacts_social_item i {
  color: #fff;
  font-size: 20px;
}

.footer {
  background-color: #0C0C0C;
  padding: 22px 0;
}
.footer_info {
  margin-right: 50px;
  text-decoration: none;
}
.footer a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #FFFFFF;
}

@media (max-width: 1400px) {
  .miners {
    min-height: 500px;
    padding-top: 150px;
  }
}
@media (max-width: 1200px) {
  .miners {
    min-height: 433px;
    padding: 100px 8px 0 8px;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 21px 8px 0 8px;
  }
  .header_logo {
    display: block;
    width: 125px;
  }
  .header_phone {
    font-size: 16px;
  }

  .miners {
    min-height: 357px;
    margin-bottom: 60px;
  }
  .miners_title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 12px;
  }
  .miners_subtitle {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .miners_btn {
    width: 227px;
    height: 36px;
    font-size: 16px;
  }

  .equipment {
    padding: 37px 8px 0 8px;
    height: 236px;
    margin-bottom: 60px;
  }
  .equipment_title {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .equipment_descr p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 8px;
  }
  .equipment_img {
    height: 235px;
  }
  .equipment_rectangle {
    width: 226px;
    height: 188px;
  }

  .advantage {
    padding: 0px 20px;
    margin-bottom: 60px;
  }
  .advantage .container {
    max-width: 740px;
  }
  .advantage_item {
    width: 143px;
    height: 143px;
    padding: 0 16px;
    margin-right: 0;
  }
  .advantage_item:nth-child(2n) {
    top: 71px;
  }
  .advantage_item:last-child {
    top: 0;
  }
  .advantage_item_icon {
    width: 56px;
    margin-top: 26px;
  }
  .advantage_item_descr {
    font-size: 12px;
    line-height: 15px;
  }

  .form-order {
    margin-bottom: 60px;
  }

  .seles {
    margin-bottom: 60px;
    padding: 0 20px;
  }
  .seles_item {
    width: 352px;
    padding: 16px 24px 20px 24px;
  }
  .seles_item_title {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .seles_item_descr p {
    font-size: 14px;
    line-height: 18px;
  }
  .seles_item_img {
    width: 190px;
  }
  .seles .col-6:nth-child(odd) {
    margin-top: 60px;
  }

  .question {
    padding: 60px 8px;
    margin-bottom: 60px;
  }
  .question_form {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .question_form input {
    width: 350px;
  }
  .question_form input:first-child {
    margin-right: 0;
  }
  .question_form input:nth-child(3) {
    width: 728px;
    margin-bottom: 44px;
  }
  .question_form_btn {
    margin: 0 auto;
    width: 227px;
    height: 36px;
    font-size: 16px;
  }

  .contacts {
    padding: 0 8px;
    margin-bottom: 60px;
  }
  .contacts_logo {
    width: 164px;
    margin-top: 6px;
  }
  .contacts_main {
    width: 164px;
  }
  .contacts_main_phone {
    margin-bottom: 10px;
  }
  .contacts_main a {
    font-size: 14px;
  }
  .contacts_main a i {
    margin-right: 12px;
  }
  .contacts_social {
    margin-top: 6px;
  }

  .footer_info {
    margin-right: 41px;
  }
  .footer a {
    font-size: 13px;
  }

  .lg-hidden {
    display: none;
  }
}
@media (max-width: 768px) {
  .miners {
    padding-top: 81px;
    min-height: 277px;
  }
  .miners_btn {
    margin-bottom: 0;
  }

  .equipment .col-8 {
    padding-left: 0;
  }

  .form-order {
    padding: 72px 8px 0 19px;
  }
  .form-order_descr {
    font-size: 24px;
  }
  .form-order_descr .text-italic, .form-order_descr p {
    font-size: 24px;
    line-height: 36px;
  }
  .form-order_descr p {
    margin-bottom: 0.75rem;
  }

  .question_form input {
    width: 350px;
  }
}
@media (max-width: 576px) {
  .button {
    padding: 1px 0;
    border: 0.4px solid #fff;
  }

  .header {
    padding-top: 12px;
    padding-right: 0;
  }
  .header_logo {
    width: 56px;
    margin: 4px 0;
  }
  .header_phone {
    font-size: 11px;
  }

  .miners {
    padding-top: 34px;
    min-height: 115px;
    margin-bottom: 40px;
  }
  .miners_title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 4px;
  }
  .miners_subtitle {
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 8px;
  }
  .miners_btn {
    width: 132px;
    height: 16px;
    font-size: 9px;
    line-height: 10px;
    margin-bottom: 8px;
  }

  .equipment {
    position: relative;
    height: 366px;
    padding: 0px 8px 0 8px;
    margin-bottom: 40px;
  }
  .equipment_title {
    font-size: 14px;
  }
  .equipment_descr p {
    font-size: 10px;
  }
  .equipment_rectangle {
    width: 151px;
    height: 184px;
    top: 74px;
    left: 243px;
  }
  .equipment_img {
    display: block;
    position: static;
    height: 187px;
    margin: 12px 0px 0px 12px;
  }

  .advantage {
    overflow: hidden;
    margin-bottom: 40px;
  }
  .advantage_title {
    font-size: 14px;
    margin-bottom: 16px;
  }
  .advantage_wrapper {
    display: block;
    width: 792px;
    overflow: hidden;
    overflow-x: scroll;
    height: 198px;
  }
  .advantage_item {
    display: inline-block;
    width: 132px;
    height: 132px;
    padding: 0 20px;
  }
  .advantage_item:nth-child(2n) {
    top: 66px;
  }
  .advantage_item_descr {
    font-size: 10px;
    line-height: 15px;
  }

  .form-order {
    height: 300px;
    padding: 40px 8px;
    margin-bottom: 40px;
  }
  .form-order_descr {
    margin: 0;
  }
  .form-order_descr .text-italic {
    margin-bottom: 8px;
  }
  .form-order_descr .text-italic, .form-order_descr p {
    font-size: 16px;
    line-height: 16px;
  }
  .form-order_form {
    margin-top: 24px;
  }
  .form-order_form input {
    font-size: 12px;
  }
  .form-order_form_btn {
    height: 35px;
    margin: 32px auto 0 auto;
    font-size: 12px;
  }

  .seles {
    overflow: hidden;
    padding: 0 12px 40px 12px;
    margin-bottom: 0;
  }
  .seles_title {
    font-size: 14px;
    margin-bottom: 16px;
  }
  .seles_item {
    width: 231px;
    padding: 28px 8px 20px 8px;
  }
  .seles_item_title {
    font-size: 12px;
  }
  .seles_item_descr p {
    font-size: 10px;
  }
  .seles_item_img {
    width: 160px;
    margin-bottom: 16px;
  }
  .seles .row {
    width: 485px;
  }
  .seles .col-6:nth-child(odd) {
    margin-top: 32px;
  }

  .question {
    min-height: 382px;
    padding: 40px 8px;
    margin-bottom: 40px;
  }
  .question_title {
    font-size: 14px;
    margin-bottom: 12px;
  }
  .question_subtitle {
    width: 283px;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 24px;
  }
  .question_form input {
    font-size: 12px;
    margin-bottom: 24px;
  }
  .question_form input:last-child {
    margin-bottom: 32px;
  }
  .question_form_btn {
    width: 182px;
    font-size: 12px;
  }

  .contacts {
    margin-bottom: 40px;
  }
  .contacts_social {
    margin: 0;
  }
  .contacts_log {
    margin: 0;
  }
  .contacts_main a {
    font-size: 12px;
  }
  .contacts .col-12 {
    margin-bottom: 24px;
  }
  .contacts .col-12:last-child {
    margin-bottom: 0;
  }

  .footer {
    padding: 20px 0;
  }
  .footer .container {
    padding: 0 20px;
  }
  .footer a {
    display: block;
  }
  .footer_info {
    margin-bottom: 16px;
  }
}

/*# sourceMappingURL=style.css.map */