* { font-family: 'Montserrat', sans-serif; margin: 0; padding: 0; }

.container { max-width: 1170px; }

.button { border: 1px solid #FFFFFF; background: none; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 30px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.header { position: absolute; padding-top: 30px; width: 100%; }
.header_phone { display: inline; text-align: right; }
.header_phone_1 { display: block; font-style: normal; font-weight: normal; font-size: 24px; text-align: right; text-transform: uppercase; color: #FFFFFF; text-decoration: none; }
.header_phone_2 { display: block; font-style: normal; font-weight: normal; font-size: 18px; text-align: right; text-transform: uppercase; color: #FFFFFF; text-decoration: none; }

.miners { background: url("../img/background/cloud-storage-background-remixed-from-public-domain-by-nasa22 1.jpg") top center/contain no-repeat; padding: 224px 0; }
.miners_title { font-style: normal; font-weight: bold; font-size: 64px; line-height: 72px; color: #FFFFFF; margin-bottom: 41px; }
.miners_btn { width: 369px; height: 60px; font-style: normal; font-weight: bold; font-size: 24px; color: #FFFFFF; }

.equipment { padding: 80px 0; }
.equipment_title { font-style: normal; font-weight: 500; font-size: 36px; color: #000000; margin-bottom: 24px; }
.equipment_descr p { font-style: normal; font-weight: normal; font-size: 16px; line-height: 32px; color: #000000; }
.equipment_img { display: block; width: 100%; }

.advantage { padding: 80px 0; }
.advantage .col-md-12 { padding: 0; }
.advantage_title { font-style: normal; font-weight: 500; font-size: 36px; text-align: center; color: #000000; margin-bottom: 40px; }
.advantage_title span { font-weight: 700; }
.advantage_wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.advantage_item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; top: 0; width: 230px; height: 230px; background: url("../img/background/icon_background.svg") center center/contain no-repeat; }
.advantage_item_wrapper { max-width: 135px; min-height: 166px; }
.advantage_item:nth-child(2n) { top: 115px; }
.advantage_item:last-child { top: 0; }
.advantage_item_icon { display: block; margin: 0 auto; margin-bottom: 4px; }
.advantage_item_descr { font-style: normal; font-weight: normal; font-size: 16px; line-height: 24px; text-align: center; color: #FFFFFF; }

.service { display: block; padding: 80px 0; background-color: #0C0C0C; }
.service_title { font-style: normal; font-weight: normal; font-size: 36px; text-align: center; color: #FFFFFF; margin-bottom: 40px; }
.service_wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.service_item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 210px; height: 100px; border: 1px solid #FFFFFF; border-radius: 20px; padding: 0 15px; }
.service_item_text { font-style: normal; font-weight: normal; font-size: 16px; line-height: 20px; text-align: center; color: #FFFFFF; }

.seles { margin-bottom: 80px; }
.seles_title { font-style: normal; font-weight: 500; font-size: 36px; text-align: center; color: #000000; margin-bottom: 40px; }
.seles_title span { font-weight: 700; }
.seles_item { margin: 0 auto; padding: 42px 40px 40px 40px; background: #D3D3D3; -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25); box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25); border-radius: 20px; width: 570px; }
.seles_item_img { display: block; margin: 0 auto; margin-bottom: 26px; }
.seles_item_title { font-style: normal; font-weight: bold; font-size: 24px; color: #000000; margin-bottom: 15px; }
.seles_item_descr p { font-style: normal; font-weight: normal; font-size: 16px; line-height: 32px; color: #000000; }
.seles_item_descr p span { font-weight: 600; }
.seles .col-6:nth-child(odd) { margin-top: 120px; }

.question { min-height: 448px; background: url("../img/background/blockchain-technology-background-in-gradient-blue22 1.jpg") 50% 0/cover no-repeat; padding: 70px 0; margin-bottom: 80px; border: 1px solid #000; }
.question_title { font-style: normal; font-weight: 500; font-size: 36px; text-align: center; color: #FFFFFF; margin-bottom: 24px; }
.question_title span { font-weight: 700; }
.question_subtitle { margin: 0 auto; width: 736px; font-style: normal; font-weight: normal; font-size: 18px; line-height: 24px; text-align: center; color: #FFFFFF; margin-bottom: 36px; }
.question_form { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.question_form input { border: none; border-bottom: 1px solid #D3D3D3; width: 470px; background: none; font-style: normal; font-weight: normal; font-size: 16px; color: #FFFFFF; padding: 0 10px 4px 10px; margin-bottom: 40px; }
.question_form input:first-child { margin-right: 30px; }
.question_form input:nth-child(3) { width: 970px; margin-bottom: 44px; }
.question_form_btn { font-style: normal; font-weight: bold; font-size: 18px; text-align: center; color: #FFFFFF; }

.contacts { margin-bottom: 80px; }
.contacts_main { width: 210px; }
.contacts_main_phone { margin-bottom: 22px; }
.contacts_main a { display: block; font-style: normal; font-weight: 500; font-size: 18px; color: #000000; text-decoration: none; }
.contacts_main a i { margin-right: 14px; }
.contacts_social { display: -webkit-box; display: -ms-flexbox; display: flex; }
.contacts_social_item { display: block; width: 40px; height: 40px; border-radius: 50%; background-color: #0C0C0C; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-decoration: none; margin-right: 30px; }
.contacts_social_item i { color: #fff; font-size: 20px; }

.footer { background-color: #0C0C0C; padding: 22px 0; }
.footer_info { margin-right: 50px; text-decoration: none; }
.footer a { font-style: normal; font-weight: normal; font-size: 14px; color: #FFFFFF; }

/*# sourceMappingURL=style.css.map */